<h3 align="center"> Arrange new Meet</h3>
<%= render 'shared/errors', obj: @meeting %>
<div class='row'>
	<div class='col-xs-12'>
    <%= form_for(@meeting, :url => {:controller => :meeting, action: :create})  do |f| %>
            <div class="form-group">
                <div class="control-label col-sm-2">
                    <%= f.label :name %>
                </div>
                <div class="col-sm-6">
                	<%= f.text_field :name, placeholder: "enter name" %>
                </div>
			</div><br><br><br>
			<div class="form-group">
				<div class="control-label col-sm-2">
					<%= f.label :description %>
				</div>
				<div class="col-sm-6">
					<%= f.text_area :description, rows: 2, placeholder: "Body of meeting" %>
				</div>
			</div><br><br><br>
			<div class="form-group">
				<div class="control-label col-sm-2">
					<%= f.label :start_time %>
				</div>
				<div class="col-sm-6">
					<%= f.datetime_select :start_time %>
				</div>
			</div><br><br><br>
			<div class="form-group">
				<div class="control-label col-sm-2">
					<%= f.label :end_time %>
				</div>
				<div class="col-sm-6">
					<%= f.datetime_select :end_time %>
				</div>
			</div><br><br><br>
			<div class="form-group">
				<div class="control-label col-sm-2">
					<%= f.label :req_seats %>
				</div>
				<div class="col-sm-6">
					<%= f.number_field :req_seats, placeholder: "enter Required Seats" %>
				</div>
			</div><br><br><br>
      <div class="form-group" >
        <div class="row">    
            <div class="col-sm-offset-2 col-sm-10">
                <% Rooms.each do |room| %>
                    <% if room.capacity.to_i > @meeting.req_seats.to_i %>
                      <% if !room.meetings.nil? %> 
                            <% if !((room.meetings.start_time..room.meetings.end_time).overlaps?((@meeting.start_time)..(@meeting.end_time))) %>
                                <%= f.radio_button :room_id, room.id %> <%= room.room_no %><br />
                            <% end %>
                      <% end %>  
                    <% end %>
                  <% end %>
            </div>            
        </div>            
      </div><br><br><br>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <%= f.submit  %>
                </div>
            </div>
        <% end %>
        <div class="col-xs-6 col-xs-offset-4">
            [ <%= link_to "Cancel request and return to home", root_path %> ]
        </div>
    </div>
</div>