<%= form_with(model: meeting, local: true) do |form| %>
  <% if meeting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(meeting.errors.count, "error") %> prohibited this meeting from being saved:</h2>

      <ul>
      <% meeting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, rows: 2, placeholder: "Body of meeting" %>
  </div>
  <div class="field">
    <%= form.label :req_seats %>
    <%= form.number_field :req_seats, placeholder: "enter the required seats" %>
  </div>
  <div class="well">
  <div id="datetimepicker2" class="input-append">
    <input data-format="MM/dd/yyyy HH:mm:ss PP" type="text"></input>
    <span class="add-on">
      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
      </i>
    </span>
  </div>
</div>
<script type="text/javascript">
  $(function() {
    $('#start_time').datetimepicker({
      language: 'en'
    });
  });
</script>


<div class="well">
  <div id="datetimepicker2" class="input-append">
    <input data-format="MM/dd/yyyy HH:mm:ss PP" type="text"></input>
    <span class="add-on">
      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
      </i>
    </span>
  </div>
</div>
<script type="text/javascript">
  $(function() {
    $('#end_time').datetimepicker({
      language: 'en'
    });
  });
</script>


  <div class="form-group" >
    <div class="row">    
        <div class="col-sm-offset-2 col-sm-10">
            <% @rooms.each do |room| %>
                <% if room.capacity.to_i > @meeting.req_seats.to_i %>
                  <% if !room.meetings.nil? %> 
                        <% if !((room.meetings.start_time..room.meeting.end_time).overlaps?((:start_time)..(:end_time))) %>
                            <%= f.radio_button :room_id, room.id %> <%= room.room_no %><br />
                        <% end %>
                  <% end %>  
                <% end %>
              <% end %>
        </div>            
    </div>            
</div><br><br><br>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
