<h3 align="center"> Arrange new Meeting</h3>
<% if @meeting.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@meeting.errors.count, "error") %> prohibited this meeting from being saved:</h2>

	<ul>
	<% @meeting.errors.full_messages.each do |message| %>
		<li><%= message %></li>
	<% end %>
	</ul>
</div>
<% end %>

<div class='row'>
	<div class='col-xs-12'>
    <%= form_for(@meeting, :url => {:controller => :meetings, action: :create})  do |f| %>
			<div class="form-group">
				<div class="control-label col-sm-2">
					<%= f.label :name %>
				</div>
				<div class="col-sm-6">
					<%= f.text_field :name, placeholder: "enter name" %>
				</div>
			</div><br><br><br>
			<div class="form-group">
				<div class="control-label col-sm-2">
					<%= f.label :description %>
				</div>
				<div class="col-sm-6">
					<%= f.text_area :description, rows: 2, placeholder: "Body of meeting" %>
				</div>
			</div><br><br><br>
			<div class="form-group">
				<div class="control-label col-sm-2">
					<%= f.label :req_seats %>
				</div>
				<div class="col-sm-6">
					<%= f.number_field :req_seats %>
				</div>
			</div><br><br><br>
			<div class="form-group">
				<div class="control-label col-sm-2">
								<%= f.label :start_time %>
				</div>
				<div class="container">
					<div class="row">
						<div class='col-sm-6'>
							<%= f.text_field :start_time, :id => 'datetimepicker4' %>
						</div>
						<script type="text/javascript">
							$(function () {
								$('#datetimepicker4').datetimepicker();
							});
						</script>
					</div>
				</div>
			</div><br><br><br>
			<div class="form-group">
				<div class="control-label col-sm-2">
								<%= f.label :end_time %>
				</div>
				<div class="container">
					<div class="row">
						<div class='col-sm-6'>
							<%= f.text_field :end_time, :id => 'datetimepicker5' %>
						</div>
						<script type="text/javascript">
							$(function () {
								$('#datetimepicker5').datetimepicker();
							});
						</script>
					</div>
				</div>
			</div><br><br><br>
			<div class="form-group">
				<div class="col-sm-8">
					<%= f.collection_select :room_id, Meeting.UpdateStatus(:start_time,:end_time,:req_seats), :id, :room_no, :prompt => 'Select' %>
				</div>
			</div><br><br><br>
			<% until !@meeting.end_time.nil? %>
			[ <%= link_to "Cancel request and return to home", root_path %> ]
			<% end %>
			<div class="form-group">
                <div class=	"col-sm-offset-2 col-sm-10">
                    <%= f.submit  %>
                </div>
            </div>
        <% end %>
        <div class="col-xs-6 col-xs-offset-4">
            [ <%= link_to "Cancel request and return to home", root_path %> ]
        </div>
    </div>
</div>
<%= link_to 'Back', meetings_path %>

