<h3 align="center"> Arrange new Meet</h3>
<%= render 'shared/errors', obj: @meet %>
<div class='row'>
	<div class='col-xs-12'>
    <%= form_for(@meeting, :url => {:controller => :meet, action: :create})  do |f| %>
            <div class="form-group">
                <div class="control-label col-sm-2">
                    <%= f.label :subject %>
                </div>
                <div class="col-sm-6">
                	<%= f.text_field :subject, placeholder: "enter subject" %>
                </div>
			</div><br><br><br>
			<div class="form-group">
				<div class="control-label col-sm-2">
					<%= f.label :description %>
				</div>
				<div class="col-sm-6">
					<%= f.text_area :description, rows: 2, placeholder: "Body of meeting" %>
				</div>
			</div><br><br><br>
			<p id="notice"><%= notice %> format for meet_to_datetime and meet_date_time is 2019-08-12T00:00:00 </p>
			<div class="form-group">
				<div class="control-label col-sm-2">
					<%= f.label :meet_date_time %>
				</div>
				<div class="col-sm-6">
					<%= f.datetime_field :meet_date_time %>
				</div>
			</div><br><br><br>
			<div class="form-group">
				<div class="control-label col-sm-2">
					<%= f.label :meet_to_datetime %>
				</div>
				<div class="col-sm-6">
					<%= f.datetime_field :meet_to_datetime %>
				</div>
			</div><br><br><br>
			<div class="form-group">
				<div class="control-label col-sm-2">
					<%= f.label :req_seats %>
				</div>
				<div class="col-sm-6">
					<%= f.number_field :req_seats, placeholder: "enter Required Seats" %>
				</div>
			</div><br><br><br>
			<div class="form-group" >
				<div class="row">    
					<div class="col-sm-offset-2 col-sm-10">
						<%= f.collection_radio_buttons :room_id, Room.all, :id, :room_no do |room| %>
										<% room.label { room.radio_button + room.text} %>
						<% end %>
					</div>            
				</div>            
			</div><br><br><br>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <%= f.submit  %>
                </div>
            </div>
        <% end %>
        <div class="col-xs-6 col-xs-offset-4">
            [ <%= link_to "Cancel request and return to home", root_path %> ]
        </div>
    </div>
</div>