<div class='row'>
    <div class='col-xs-12'>
        <%= form_for(@room, :url => {:controller => :room, action: :create})  do |f| %>
            <div class="form-group">
                <div class="control-label col-sm-2">
                <%= f.label :room_no %>:
                </div>
                <div class="col-sm-6">
                <%= f.number_field :room_no, class: "form-control", placeholder: "enter room number" %> 
                </div>
            </div>
            <br>
            <br>
            <br>
            <div class="form-group">
                <div class="control-label col-sm-2">
                    <%= f.label :Capacity %>
                </div>
                <div class="col-sm-6">
                    <%= f.number_field :capacity, class: "form-control", placeholder: "enter capacity" %>
                </div>
            </div>
            <br><br>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <%= f.submit(@room.new_record? ? "new" : "update", class: 'btn btn-primary btn-lg') %>
                </div>
            </div>
        <% end %>
        <br><br>
        <div class="col-xs-4 col-xs-offset-4">
            [ <%= link_to "Cancel request and return to home", root_path %> ]
        </div>
    </div>
</div>